*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: ghostwhite;

}

p {
font-size: 1rem;
line-height: 2rem;
color: #b98262;
}

a {
    text-decoration: none;
}

.main-container{
    width: 1100px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
   }

/* button */
.btn {
    padding: 1rem 1.5rem;
    background:#b98262 ;
    border: 2px solid #b98262;
    cursor: pointer;
    border-radius: 50px;
    color: white;
    transition: color 0.4s linear;
}

/* title */
.pre-title {
text-transform: uppercase;
    letter-spacing: 0.6rem;
    color: #b66f1ed3;
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 1rem;
}

.pre-title::before{
    content: "";
    width: 20px;
    height: 1px;
    background: #b66f1ed3;
    position: absolute;
    left: 0;
    top: 50%;
}

/* logo dan navbar menu */
.nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    transition: 0.2s ease-in-out;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    margin-left: 2rem;
}

.logo a {
    color: #9a5f3d;
}

nav ul li a {
    color: #9a5f3d;
}

/* Home Section */
#home {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.home-name {
    font-size: 2.9rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
    color: #8a3f26;
}

.home-right img{
    width: 340px;
    border-radius: 14rem;
}

.home-right {
    display: flex;
    justify-content: center;
}

section {
    padding-left: 3rem;
    padding-bottom: 5rem;
}

/* About Section */
#about {
    background-color: #F7DED0;
    padding: 6rem 0;
}

.section-title-about {
    text-align: center;
    margin: 1rem 0 4rem;
    color: #8a3f26;
}

/* Layout */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3.5rem;
}

.about {
    padding: 3rem 2rem;
    text-align: center;
    background: #fcb083;
    border-radius: 2.5rem;
}

.about h4 {
    color: rgb(255, 255, 255);
    margin: 0.5rem 0;
}

.about p {
    color: white;
}

.about-icon {
    background-color: #fbf1eb;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 5rem;
}
/* End of About */

/* Skills & Experience */
#skills {
    padding: 6rem 0;
    background: FFBE98;
}

.section-title-skills {
    text-align: center;
    margin: 1rem 0 4rem;
    color: #8a3f26;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.experience {
    display: flex;
    gap: 2rem;
    color: #8a3f26;
}

.experience line {
    padding: 0 0.7rem;
}

.experience .line div {
    width: 2px;
    height: 100%;
    background: #8a3f26;
    position: relative;
}

.experience-info {
    margin: 0.3rem 0;
}

.experience-date {
    margin-bottom: 3rem;
    color: #b98262;
}

.experience .line div::before {
    content: "";
    width: 15px;
    height: 15px;
    background: #8a3f26;
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.skills-right {
    line-height: 2rem;
    padding: 0 1rem;
    color: #b98262;

}
/* End of Experience & Skills */

/* Contact section */

#contact {
    padding: 6rem;
    color: #8a3f26;
}

.contact-form div {
    margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: white;
    border: 1px solid gainsboro;
    border-radius: 3px;
    resize: none;
}

.contact-form input ::placeholder,
.contact-form textarea ::placeholder {
    color: #8a3f26;
}

.contact-form input :focus,
.contact-form textarea :focus {
    outline: none;
    border: 1px solid #8a3f26;
}

.btn-submit {
    width: 100%;
    padding: 0.75rem 1.3rem;
    background-color: #fc8e69;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn-submit:hover, .btn-submit:focus {
    background-color: #ffa8a8;
    color: #910101;
}
/* End of Contact */

/* Footer */
footer {
    margin-bottom: 0;
    padding: 4rem 0;
    background: #F7DED0;
    text-align: center;
}

.footer-icons {
    margin-bottom: 1rem;
}

.footer-icons a {
    margin: 0 0.5rem;
}

.footer-icons a:hover {
    fill: black;
}

.footer-icons {
    fill: #e7e9e7;
}
